@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#ziro {
	color: #272626;
	font-family: Odibee Sans;
	font-size: 29px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 1.45px;
}

#search {
	border-radius: 50px;
	background: #fff;
	flex-shrink: 0;
	padding: 8px 25px;
}
#frelanser {
	color: #ff5c00;
	font-family: Prompt;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: 55px;
	letter-spacing: 3.15px;
}
h1 {
	color: #353434;
	font-family: Prompt;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: 55px;
	letter-spacing: 3.15px;
}
#lo {
	color: #a8a8a8;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.28px;
}

#btn1 {
	color: #fff;
	text-align: center;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 62px;
	letter-spacing: 0.32px;
	border-radius: 6px;
	background: #544cac;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
.demo {
	color: #000;
	text-align: center;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 62px;
	letter-spacing: 0.32px;
}
#why {
	color: #353434;
	text-align: center;
	font-family: Oswald;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 125% */
	letter-spacing: 2px;
}

#loem {
	color: #a8a8a8;
	text-align: center;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
	letter-spacing: 0.28px;
}

#shadov {
	background: #fff;
	box-shadow: -1px 1px 20px 0px rgba(70, 68, 68, 0.336);
}
#tr {
	color: #323232;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px; /* 150% */
	letter-spacing: 0.4px;
}
#ty {
	color: #8f8f8f;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 157.143% */
	letter-spacing: 0.28px;
}
#shadov {
 cursor: pointer;
 transition: transform 0.3s ease;
}

#shadov:hover {
 transform: scale(1.1);
}
