@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
#ziro {
	color: #272626;
	font-family: Odibee Sans;
	font-size: 29px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 1.45px;
}
body {
	background-color: white;
}

#search {
	border-radius: 50px;
	background: #fff;
	flex-shrink: 0;
	padding: 8px 25px;
}
#frelanser {
	color: #ff5c00;
	font-family: Prompt;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: 55px;
	letter-spacing: 3.15px;
}
h1 {
	color: #353434;
	font-family: Prompt;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: 55px;
	letter-spacing: 3.15px;
}
#lo {
	color: #a8a8a8;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.28px;
}

#btn1 {
	color: #fff;
	text-align: center;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 62px;
	letter-spacing: 0.32px;
	border-radius: 6px;
	background: #544cac;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
.demo {
	color: #000;
	text-align: center;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 62px;
	letter-spacing: 0.32px;
}
#why {
	color: #353434;
	text-align: center;
	font-family: Oswald;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 125% */
	letter-spacing: 2px;
}

#loem {
	color: #a8a8a8;
	text-align: center;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
	letter-spacing: 0.28px;
}

#shadov {
	background: #fff;
	box-shadow: -1px 1px 20px 0px rgba(70, 68, 68, 0.336);
}
#tr {
	color: #323232;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px; /* 150% */
	letter-spacing: 0.4px;
}
#ty {
	color: #8f8f8f;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 157.143% */
	letter-spacing: 0.28px;
}
#shadov {
 cursor: pointer;
 transition: transform 0.3s ease;
}

#shadov:hover {
 transform: scale(1.1);
}


#willim{
	color: #323232;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
letter-spacing: 0.4px;
}
#aa{
	color: #A8A8A8;
text-align: center;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.28px;
}

#wawa{
	color: #323232;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
letter-spacing: 0.4px;
}
#coe{
	color: #868686;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.28px;
}
#zz{
	color: #323232;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
letter-spacing: 0.4px;
}

#lol{
	color: #383838;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.28px;
}

#ser{
	border-radius: 20px;
background: #F9FAFF;
box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
}

#btn5{color: #FFF;
	text-align: center;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 62px; /* 387.5% */
	letter-spacing: 0.32px;
	border-radius: 50px;
background: #BDBBD9;
/* padding: 0px 35px; */
width: 250px;
}

#btn5:hover{color: #FFF;
	text-align: center;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 62px; /* 387.5% */
	letter-spacing: 0.32px;
	border-radius: 50px;
background: #544CAC;
box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.20);
}

#a1{
	color: #4238AF;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px; /* 150% */
	letter-spacing: 0.4px;
}
#a2{
	color: #353434;
	text-align: center;
	font-family: Oswald;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: 55px; /* 122.222% */
	letter-spacing: 3.15px;
}
#a3{
	color: #8A86B9;
	text-align: center;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.32px;
}

#s1{
	color: #353434;
	text-align: center;
	font-family: Oswald;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 125% */
	letter-spacing: 2px;
}
#s2{
	color: #959595;
	text-align: center;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
	letter-spacing: 0.28px;
}

#p1{
	color: #A8A8A8;
	text-align: center;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
	letter-spacing: 0.28px;
}

#ser {
 cursor: pointer;
 transition: transform 0.5s ease;
}

#ser:hover {
 transform: scale(1.1);
	background-color: #BDBBD950;

}